* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html, body {
  padding: 0;
  margin: 0;
}
body {
  /* background-image: url(./sustainable.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center; */
}
a {
  text-decoration: none;
  color: inherit;
}
.app {
  /* display: flex;
  flex-direction: row;
  overflow-x: hidden;
  justify-content: space-between;
  /* height: 100vh; */
  /* overflow-y: auto; */ 
}
.spin {
  -webkit-animation: spin 60000ms linear infinite;
  -moz-animation: spin 60000ms linear infinite;
  -o-animation: spin 60000ms linear infinite;
  animation: spin 60000ms linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.fade-in {
  opacity: 1 !important;
}

.stack {
  display: block;
  margin-block-end: 1rem;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}