.compose-container {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 135px;
    overflow: hidden;
    padding: 5px;
    transition: top 1s, width 1s;
    border-radius: 10px;
}
.expand-composer {
    background-color: #fff;
    right: 20px;
    bottom: 20px;
    top: 20px;
    width: 20rem;
    padding: 20px;
    overflow-y: auto;
    box-shadow: 0px 0px 4px #000000c5;
}
.compose-message {
    /* width: 0; */
    height: 0;
    overflow: hidden;
    transition: width 1s ease-in;
}
.expand-message {
    width: 100%;
    height: 100%;
}
.hide-header {
    display: none;
}
.compose-header {
    padding: 0 0 5px 0;
}
.compose-header span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    background-color: var(--primary-light);
    color: #fff;
}
.compose-header span:hover {
    background-color: lightgrey;
    color: gray;
}
.compose-message label {
    display: block;
    border-bottom: 2px solid gray;
}
.form-header input {
    border: none;
    outline: none;
    width: 80%;
    padding: 10px 10px 10px 30px;
    background: none;
}

.form-header input:focus {
    border: none;
    outline: none;
    background: none;
}

.compose-body {
    margin-top: 20px;
    border: 2px solid gray;
    border-radius: 20px;
    overflow: hidden;
}
.compose-body textarea {
    resize: none;
    width: 100%;
    height: 200px;
    border: none;
    padding: 10px;
    font-size: 0.85rem;
    line-height: 1.5;
    font-weight: 450;
}
.compose-body textarea:focus {
    outline: none;
    border: none;
}
.shotcuts {
    border-bottom: 1px solid gray;
    display: flex;
    padding: 5px;
    color: gray;
}

.shotcuts-left {
    border-right: 1px solid gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}
.shotcuts-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}

.send-save-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}
.send-save-buttons button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    background: #e4dddd;
    color: gray;
    font-weight: 500;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px #000000c5;
}
.send-save-buttons button span {
    padding-right: 10px;
}
.send-message {
    background: var(--primary) !important;
    color: #fff !important;
    padding: 5px 10px 5px 10px !important;
    box-shadow: 0px 0px 5px #000000c5 !important;
}
.send-message:hover {
    background: var(--primary-dark) !important;
}
.send-message:active {
    box-shadow: 0px 0px 0px #000000c5 !important;
}
.compose-options {
    color: gray;
}
.compose-options svg:hover {
    color: rgb(22, 20, 20);
}

.compose-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#fff;
    box-shadow: 0px 0px 4px #000000c5;
    width: 120px;
    padding: 10px;
    border-radius: 30px;
    float: right;
    cursor: pointer;
    transition: all 300ms;
}
.compose-button span {
    font-weight: 500;
}
.compose-button:hover {
    color: #fff;
    background-color: var(--primary);
}