aside.contacts {
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    display: flex;
    /* border-radius: 10px; */
    /* margin-right: 10px; */
    /* transform: translateX(500px); */
    /* opacity: 0; */
    transition: all 500ms linear;
}
.close-button__panel {
    display: none;
}
.contacts-panel {
    height: 80vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #b2d3d8;
}

aside.slide-in {
    transform: translateX(0);
    opacity: 1;
}

@media screen and (max-width: 900px) {
    aside.contacts {
        /* margin-right: 0px; */
        width: 250px;
    }
    .contacts-panel {
        width: 250px;
    }
}

@media screen and (min-width: 901px) {
    .contacts-panel {
        width: 280px;
    }
}

aside.contacts h1 {
    text-align: center;
    font-weight: 500;
}

article.contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
article.contact .icon {
    width: 50px;
    height: 50px;
    background-color: burlywood;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.2rem;
}

article.contact:hover {
    background-color: #fff;
    box-shadow: 0px 0px 5px #555;
}
article.contact:hover .details {
    border-bottom: 0px solid #fff;
}
article.contact .details {
    border-bottom: 2px solid #fff;
    width: 70%;
    transition: all 150ms ease-in;
}
article.contact .details:hover article.contact {
    /* border-bottom: 2px solid #555; */
    box-shadow: 0px 0px 5px #555;
}
article.contact .details h2, p {
    margin-block-start: 0.5rem;
    margin-block-end: 0.2rem;
}
article.contact .details h2 {
    font-weight: 400;
    font-size: 1.4rem;
}
article.contact .details p {
    padding-right: 0;
}
aside.contacts button.add-contact {
    position: sticky;
    position: -webkit-sticky;
    z-index: 2;
    bottom: 10px;
    left: 0px;
    right: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #cccddd;
    font-weight: 500;
    box-shadow: 0px 0px 2px #555;
    margin: 40px auto;
}
aside.contacts button.add-contact span {
    padding-left: 20px;
}
aside.contacts button.add-contact:hover {
    /* background-color: #e78078e7;
    border: 2px solid #e78078e7; */
    background-color: #b2d3d8;
    border: 2px solid black;
}

aside.contacts-panel form {
    width: 100%;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 20px;
}

aside.contacts form h2 {
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
}
aside.contacts form p {
    padding-left: 20px;
    padding-right: 20px;
}
.contacts form .input-group {
    /* padding: 20px; */
    margin: 15px;
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    /* border: 1px solid #e78078e7; */
    border: 1px solid #555;

}
.contacts form .input-group input {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 15px;
    background: none;
}

.contacts form .input-group input + label {
    position: absolute;
    top: 10px;
    left: 15px;
    transition: all 200ms ease-in-out;
}
.contacts form .input-group input:focus + label {
    top: 0px;
    font-size: 0.75rem;
}

.form-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.form-buttons input {
    /* width: 50px; */
    padding: 8px 20px 8px 20px;
    border: none;
    border-radius: 5px;
    
}
.form-buttons input:first-child {
    /* border: 2px solid #cccddd; */
    outline:#b2d3d8;
    color: #fff;
    background-color: #b2d3d8;
    box-shadow: 0px 0px 3px #555;
}
.form-buttons input:last-child {
    background-color: rgb(53, 53, 201);
    color: #fff;
    /* border: 2px solid #cccddd; */
    box-shadow: 0px 0px 3px #555;
}

@media screen and (max-width: 900px) {
    article.contact .icon {
        width: 35px;
        height: 35px;
    }
    article.contact .details h2 {
        font-size: 1rem;
        font-weight: 600;
    }
    
    article.contact .details p {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    aside.slide-in {
        transform: translateX(0px);
        position: fixed;
        right: 0;
        margin-right: 0;
    }
    .contacts-panel {
        width: 250px;
    }
    .close-button__panel {
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        height: 80vh;
    }
    .close-button__panel button {
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        width: 40px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #b2d3d8;
        padding: 5px;
        border-top: 2px solid #FFF;
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
        border-right: none;
        outline: none;
        box-shadow: 0px 0px solid #b2d3d8;
    }
    
}