header {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
}
@media screen and (max-width: 600px){
    header {
        width: 100%;
        flex-wrap: wrap;
    }
}
button.toggle-sidebar {
    position: relative;
    outline: none;
    border: none;
    box-shadow: 0px 0px 5px rgba(7, 6, 6, 0.9);
    border-radius: 100px;
    background-color: #b2d3d8;
    min-width: 50px;
    height: 50px;

}
button.toggle-sidebar:hover {
    box-shadow: 0px 0px 2px rgb(7, 6, 6);
}
button.toggle-sidebar div {
    position: absolute;
    width: 30px;
    height: 5px;
    background-color: black;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 3px;
}
button.toggle-sidebar div:nth-child(1) {
    top: 8px;
    left: 10px;
    right: 0;
}
button.toggle-sidebar div:nth-child(2) {
    top: calc(50px / 2.6);
    left: 10px;
}
button.toggle-sidebar div:nth-child(3) {
    bottom: 8px;
    left: 10px;
}

header .brand {
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center
}
header .brand img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    animation: rotate-logo 60000ms linear infinite;
}

@media screen and (max-width: 600px) {
    header .brand {
        margin-left: 20px;
    }
    header .brand img {
        width: 38px;
        height: 38px;
    }
}
@media screen and (max-width: 861px) {
    header .brand {
        margin-left: 20px;
    }
    header .brand img {
        width: 35px;
        height: 35px
    }
    header .brand h1 {
        font-size: 1.5rem;
    }
}
@keyframes rotate-logo {
    to {
        transform: rotate(360deg);
    }
}


header form {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: rgba(204, 204, 204, 0.582);
    padding: 5px;
    border-radius: 10px;
    width: 50%;
}
@media screen and (max-width: 900px) {
    header form {
        width: 100%;
    }
}
header form div {
    margin-left: 5px;
}
header form input[type="text"] {
    background: none;
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    margin-left: 5px;
}
header form button {
    background: none;
    outline: none;
    border: none;
    margin-right: 10px;
}
.search-box {
    width: 100%;
    margin-left: 50px;
}
.search-box .suggestion-box {
    width: 50%;
}
@media screen and (max-width: 600px) {
    .search-box {
        margin-left: 20px;
        
    }
    .search-box form input[type="text"] {
        height: 35px;
    }
}
@media screen and (max-width: 861px) {
    .search-box {
        margin-left: 20px;
        padding-right: 20px;
    }
    .search-box form {
        width: 100%;
    }
    .search-box form input[type="text"] {
        height: 35px;
    }
}