.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: var(--primary);
}

.home-logo {
    position: absolute;
    top: 10px;
    left: 20px;
}
.intro {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 18rem;
    color: #ffffff;
    z-index: 2;
}

.intro-headings {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    height: 50px;
}
.intro-headings h1 {
    margin-block-start: 0.2rem;
    margin-block-end: 0.2rem;
    opacity: 0.2;
    transform: translateY(50px);
}
.intro-headings h1:nth-child(1) {
    padding-right: 0.2rem;
    transition: all 500ms linear;
}
.intro-headings h1:nth-child(2) {
    padding-right: 0.2rem;
    transition: all 500ms 200ms linear;
}
.intro-headings h1:nth-child(3) {
    transition: all 500ms 400ms linear;
}

.intro-headings h1.fast {
    transform: translateY(0);
    opacity: 1;
}
.intro-headings h1.easy {
    transform: translateY(0);
    opacity: 1;
}
.intro-headings h1.reliable {
    transform: translateY(0);
    opacity: 1;
}
.intro-text {
    height: 60px;
    overflow: hidden;
}
.intro-text p {
    opacity: 0.2;
    transform: translateY(20px);
    transition: all 500ms linear;
}
p.desc {
    transform: translateY(0);
    opacity: 1;
}

.block {
    width: 5rem;
    height: 30rem;
    background: linear-gradient(to bottom, #e3e2e794, var(--primary));
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: all 500ms ease-in;
}
.b-1 {
    transform: rotate(45deg);
    top: -100px;
    left: 15rem;
}
.b-2 {
    transform: rotate(120deg);
}
.b-3 {
    transform: rotate(45deg);
    left: 150px;
    top: 7rem;
}

.home-body {
    overflow: hidden;
    padding: 1rem;
    border-top-left-radius: 20px;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 38rem;
    height: 20rem;
    z-index: 2;
    background-image: url(../images/snapshot.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
@media screen and (max-width: 768px) {
    .home-body {
        width: 100vw !important;
        bottom: -2rem;
    }
}

.home-buttons {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    z-index: 2;
    background-color: #fff;
    padding: 2rem;
}

.button-link {
    overflow: hidden;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border: 1px solid var(--primary);
    transition: all 200ms linear;
    position: relative;
}
.button-link:hover {
    background-color: var(--primary);
    color: #ffffff;
}
.ripple {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background-color: #3940a7e0;
    position: absolute;
    opacity: 0;
    transition: all 200ms ease;
}
.button-link:active .ripple {
    opacity: 1;
    transform: scale(20);
}

@media screen and (max-width: 741px) {
    .home-body {
        left: 0vw;
        height: 25rem;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    .intro {
        left: 30px;
        right: 15px;
        width: 18rem;
    }
    /* .intro-headings h1 {
        font-size: 1.8rem;
    } */
}
