.layout {
  /* position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden; */
  background-color: var(--primary-dark);
}
.container {
    background-color: #ffffff;
    position: absolute;
    /* padding: 0 20px 20px 20px; */
    height: 100vh;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0px;
    overflow-y: auto;
    overflow-x: auto;
    transition: all 300ms linear;
}


.shrink-container {
    left: 5.25rem;
}
.expand-container {
    left: 11rem;
}

@media screen and (min-width: 761px) {
    .app-title {
        display: none;
    }
    .u-app-title {
        color: var(--primary-dark);
        font-size: 2rem;
    }
}


@media screen and (max-width: 760px) {
    .container {
        width: 100vw;
        left: 0;
        top: 5rem;
        border-radius: 0 0 0 0;
        box-shadow: none;
    }
    .expand-container {
        top: 70vh;
        border-radius: 20px 20px 0 0;
        box-shadow: 0px 0px 4px black;
    }
    .app-title {
        position: fixed;
        top: 5px;
        left: 5rem;
    }
    .u-app-title {
        display: none;
    }
}

.userbar-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-bar {
    width: 60%;
}
.search-bar form input {
    width: 100%;
    height: 2.8rem;
    border-radius: 5px;
    outline: none;
    background-color: var(--gray);
    border: 1px solid var(--gray);
    padding-left: 15px;
}

.btn-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    /* background-color: var(--gray); */
    border: none;
    transition: all 200ms ease;
}
.btn-user:hover {
    transform: scale(0.9);

}
.btn-photo {
    border: 2px solid gray;
    /* padding: 5px; */
    border-radius: 100px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btn-name {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
}

.contacts {
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    width: 16rem;
   
    overflow-y: auto;
    height: 100vh;
}
.app-name {
    margin-block-start: 0rem;
    font-size: 2rem;
    color: var(--primary);
}

.profile {
    box-shadow: 0px 0px 5px var(--primary-light);
    width: 13rem;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
    background-color: #fff;
}
.profile .text {
    font-weight: 600;
    font-size: 0.9rem;
}
.profile .photo {
    float: right;
}
.avatar {
    display: grid;
    place-items: center;
    padding: 5px;
    border-radius: 100px;
    color: gray;
    border: 2px solid grey;
}
.profile .name {
    font-weight: 600;
}
.profile button {
    border: none;
    outline: none;
    background-color: var(--primary);
    padding: 8px;
    width: 80px;
    border-radius: 5px;
    color: #fff;
    font-size: 0.7rem;
}
.profile button:hover {
    background-color: var(--primary-light);
}

ul.contact-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 3rem;
}
.contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 13rem;
    padding: 0 10px 0 10px;
    margin-block-end: 0.5rem;
    border-radius: 8px;
    transition: all 200ms linear;
}
.contact .avatar {
    color: #fff;
    border-color: #fff;
    background-color: gray;
}
.contact:not(:last-child) {
    /* border-bottom: 1px solid #fff; */
}
.contact:hover {
    background-color: #ccc;
    box-shadow: 0px 0px 4px var(--primary-light);
}
.contact:hover .avatar {
    color: #fff;
    border-color: gray;
}
.contact .avatar {
    margin-right: 0.5rem;
}
.contact h3, p {
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}
.contact h3 {
    font-size: 0.95rem;
    font-weight: 500;
}
.contact p {
    font-size: 0.85rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
}

.contact-form {

}
.contact-form h4 {
    margin-block-end: 0.5rem;
}
.contact-form input {
    width: 100%;
    margin-bottom: 0.5rem;
    border-style: solid;
    border-color: var(--primary);
    padding: 10px;
}
.contact-form input:focus {
    outline-style: solid;
    outline-color: var(--primary);
}
.form-button {
    display: block;
    width: 85%;
    margin: 10px auto;
    border-radius: 5px;
    outline: none;
    padding: 8px;
    box-shadow: 0px 0px 2px 1px var(--primary-light);
    
}
.form-button.save {
    background-color: var(--primary);
    border: none;
    color: #fff;
}
.form-button.cancel {
    border: 2px solid var(--primary-light);
    color: var(--primary-light);
}
.form-button:hover {
    box-shadow: 0px 0px 0px 0px var(--primary-light);
}