section.list {
    width: 60%;
    padding: 50px;
}

.list article.mail-head {
    padding: 2px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    border-radius: 10px;
    transition: all 150ms linear;
    /* border-bottom: 2px solid #666; */
}
article.mail-head:hover {
    /* border-top: 2px solid #f44336;
    border-bottom: 2px solid #f44336; */
    box-shadow: 0px 0px 5px #666;
}
.icon {
    margin: 10px 15px 10px 15px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    position: relative;
    transition: all 400ms linear;
    transform-style: preserve-3d;
}
.side {
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}
.front {
    border-radius: 100px;
    position: absolute;
    transform: rotateY(180deg);
    background-color: #f44336;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.back {
    border-radius: 100px;
    font-weight: 700;
    font-size: 1.5rem;
    /* background-color: #0b5b8b; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.back span {
    padding: 0;
    margin: 0;
}
.flipped {
    transform: rotateY(180deg);
}
.mail-head a {
    text-decoration: none;
    color: inherit;
    margin-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.message-summary {
    overflow: hidden;
    width: 500px;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* margin: 0 auto; */
}
.message-summary h2 {
    font-size: 1.2rem;
    font-weight: 600;
}
.mail-head a .message-summary h2, h3, p {
    margin-block-start: 0.2rem;
    margin-block-end: 0.2rem;
}
.mail-head a .message-summary h3 {
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.message-summary p {
    font-size: 0.95rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.time-and--badge {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}
.time {
    font-weight: 500;
}
.badge {
    background-color: rgb(33, 59, 202);
    color: #fff;
    border-radius: 10px;
    font-size: 0.6rem;
    padding: 3px 7px 3px 7px;
}

.marked {
    width: 100%;
    overflow: hidden;
    height: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    transition: all 250ms linear;
}
.show-marked {
    height: 70px;
    opacity: 1;
    padding: 10px;
}
.marked p {
    font-weight: 500;
}
.marked button {
    padding: 10px;
    margin: 2px 2px 20px 2px;
    /* outline: none; */
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    transition: all 250ms linear;
    box-shadow: 0px 0px 5px #666;
}
.marked button:hover {
    background: #f44336;
}
.marked button:hover path {
    fill: #fff;
}

.empty-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.empty-list h1 {
    color: #666;
}